body{
     background: #eeeeee;
}

.content{
    width: 400px;
    padding: 150px 0;
    text-align: center;
    background: #58a;
    background: linear-gradient(-45deg,transparent 100px, #58a 0);
}