.wrap {
    background: #eeeeee;
    width: 500px;
    height: 100px;
}

.test{
    background: red;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

body{
    text-align: center;
}

#center{
    background: #ee33ee;
    height: 200px;
    width: 400px;
    line-height:200px;
    position: absolute;
    top: 116px;
}
.container{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    border: 1px solid #000;
    margin: auto;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #0ff;
}

