.wrap {
    background: #eeeeee;
    width: 500px;
    height: 100px;
}

.test{
    background: red;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

body{
    text-align: center;
}

#center{
    background: #ee33ee;
    height: 200px;
    width: 400px;
    line-height:200px;
    position: absolute;
    top: 116px;
}

