body {
    background: gray;
}

.circular {
    width: 200px;
    height: 100px;
    background: #ffc727;
    /*border-radius: 100px/50px;*/
    /*border-radius: 50%;*/
    /*border-radius: 100% 0 0 0;*/
    border-radius: 50%/100% 0;
    box-shadow: 0 10px 20px 0;
}

.parallelogram{
    margin: 100px;
    width: 100px;
    height: 400px;
    position: relative;
    text-align: center;
    line-height: 40px;
    color:#fff;
}

.parallelogram::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background: #ffc727;
    transform: skew(-45deg);
    z-index: -1;
}