body{
    background: palevioletred;
}

.container{
    width: 300px;
    padding: 100px 0px;
    text-align: center;
    border:10px solid hsla(0,0%,100%,.5);
    background: white;
    background-clip: padding-box;
}